@font-face {
    font-family: 'Playwrite';
    src: url('/assets/font/Dancing_Script/Dancing_Script,Playwrite_CO/Playwrite_CO/PlaywriteCO-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playwrite co';
    src: url('/assets/font/Dancing_Script/Dancing_Script,Playwrite_CO/Abril_Fatface,Dancing_Script,Playwrite_CO') format('truetype');
  }
  
  /* Header styles */
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px;
    
    transition: top 0.3s;
    z-index: 1000;
  }
  
  .logo {
    font-weight: 500;
    font-family: 'Playwrite';
    font-size: 18px;
    color: #ede9e6;
  }
  
  .logo:hover {
    cursor: pointer;
    color: #cd6415;
    transition: 0.4s ease-in-out;
    font-weight: bold;
  }
  
  .desktop_menu {
    display: flex;
    align-items: center;
  }
  
  .desktop_menu ul {
    padding: 0;
    margin: 0;
  }
  
 
.desktop_menu ul li {
    list-style-type: none;
    display: inline-block;
    color: #ede9e6;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .desktop_menu ul li:hover {
    color: #ede9e6;
    transition: 0.4s ease-in-out;
    font-weight: bold;
  }
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
    text-transform: capitalize;
  
  }
  
  .contact-info span {
    margin: 20px 20px;
  
  }
  .contact-info button{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    border: none;
    width: 100px;
    color: #ffffffe7;
    background-color: transparent;
    font-family: 'Playwrite co';
   font-size: 20px;
   font-weight: 600;
   


  }
  
  .menu-icon {
    display: none;
  }
  
  /* Media Query for devices with a max width of 900px */
  @media screen and (max-width: 900px) {
    .desktop_menu {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100px;
    }
    
    .desktop_menu ul li {
      justify-content: space-between;
      margin: 0;
    }
    
    .contact-info {
      display: none;
    }
    
    .logo {
      flex: 1;
    }
  }
  
  /* Media Query for iPhone 14 Pro Max (430px width) */
  @media screen and (max-width: 430px) {
    header {
      padding: 15px;
      flex-direction: column;
      align-items: center;
    }
    
    .logo {
      font-size: 10px;
      
    }
    
    .desktop_menu {
      margin-top: 10px;
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: center;
 
   
   
    }
    
    .desktop_menu ul {
        display: flex;
        justify-content: space-around;
      width: 80%;

   
    }
    
    .desktop_menu ul li {
      margin: 10px 0;
      font-size: 18px;
      justify-content: space-between;
    }
  }
  